/**
 * Colors
 */
/**
 * Typography
 */
/**
 * SCSS Variables.
 *
 * Please use variables from this sheet to ensure consistency across the UI.
 * Don't add to this sheet unless you're pretty sure the value will be reused in many places.
 * For example, don't add rules to this sheet that affect block visuals. It's purely for UI.
 */
/**
 * Fonts & basic variables.
 */
/**
 * Typography
 */
/**
 * Grid System.
 * https://make.zelocorecms.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-zelocorecms/
 */
/**
 * Radius scale.
 */
/**
 * Elevation scale.
 */
/**
 * Dimensions.
 */
/**
 * Mobile specific styles
 */
/**
 * Editor styles.
 */
/**
 * Block & Editor UI.
 */
/**
 * Block paddings.
 */
/**
 * React Native specific.
 * These variables do not appear to be used anywhere else.
 */
/**
 * Breakpoints & Media Queries
 */
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Breakpoint mixins
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a ZC-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * Creates a checkerboard pattern background to indicate transparency.
 * @param {String} $size - The size of the squares in the checkerboard pattern. Default is 12px.
 */
.zc-block-image.zc-block-image .block-editor-media-placeholder.is-small {
  min-height: 60px;
}

figure.zc-block-image:not(.zc-block) {
  margin: 0;
}

.zc-block-image {
  position: relative;
}
.zc-block-image .is-applying img, .zc-block-image.is-transient img {
  opacity: 0.3;
}
.zc-block-image figcaption img {
  display: inline;
}
.zc-block-image .components-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.zc-block-image__placeholder {
  aspect-ratio: 4/3;
}
.zc-block-image__placeholder.has-illustration::before {
  background: #fff;
  opacity: 0.8;
}
.zc-block-image__placeholder .components-placeholder__illustration {
  opacity: 0.1;
}

.block-editor-block-list__block[data-type="core/image"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: -1px 0;
}
@media (min-width: 600px) {
  .block-editor-block-list__block[data-type="core/image"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
    margin: -1px;
  }
}

[data-align=wide] > .zc-block-image img,
[data-align=full] > .zc-block-image img {
  height: auto;
  width: 100%;
}

.zc-block[data-align=left] > .zc-block-image,
.zc-block[data-align=center] > .zc-block-image,
.zc-block[data-align=right] > .zc-block-image {
  display: table;
}
.zc-block[data-align=left] > .zc-block-image > figcaption,
.zc-block[data-align=center] > .zc-block-image > figcaption,
.zc-block[data-align=right] > .zc-block-image > figcaption {
  display: table-caption;
  caption-side: bottom;
}

.zc-block[data-align=left] > .zc-block-image {
  margin-right: 1em;
  margin-left: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.zc-block[data-align=right] > .zc-block-image {
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.zc-block[data-align=center] > .zc-block-image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.zc-block[data-align]:has(> .zc-block-image) {
  position: relative;
}

.zc-block-image__crop-area {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.zc-block-image__crop-area .reactEasyCrop_Container {
  pointer-events: auto;
}
.zc-block-image__crop-area .reactEasyCrop_Container .reactEasyCrop_Image {
  border: none;
  border-radius: 0;
}

.zc-block-image__crop-icon {
  padding: 0 8px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zc-block-image__crop-icon svg {
  fill: currentColor;
}

.zc-block-image__zoom .components-popover__content {
  min-width: 260px;
  overflow: visible !important;
}

.zc-block-image__toolbar_content_textarea__container {
  padding: 8px;
}

.zc-block-image__toolbar_content_textarea {
  width: 250px;
}