.zc-block-query-pagination-numbers a {
  text-decoration: underline;
}
.zc-block-query-pagination-numbers .page-numbers {
  margin-left: 2px;
}
.zc-block-query-pagination-numbers .page-numbers:last-child {
  margin-right: 0;
}