<!-- zc:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- zc:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="zc-block-group">
	<!-- zc:group {"style":{"spacing":{"padding":{"top":"0vh","bottom":"6vh"}}},"layout":{"type":"constrained"}} -->
	<div class="zc-block-group" style="padding-top:0vh;padding-bottom:6vh">
		<!-- zc:post-featured-image {"align":"wide"} /-->
	</div>
	<!-- /zc:group -->

	<!-- zc:group {"layout":{"type":"constrained"}} -->
	<div class="zc-block-group">
		<!-- zc:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"1rem","left":"1rem"}}}} -->
		<div class="zc-block-columns alignwide">
			<!-- zc:column -->
			<div class="zc-block-column">
				<!-- zc:post-title {"level":1,"fontSize":"x-large"} /-->
			</div>
			<!-- /zc:column -->

			<!-- zc:column -->
			<div class="zc-block-column">
				<!-- zc:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
			</div>
			<!-- /zc:column -->
		</div>
		<!-- /zc:columns -->
	</div>
	<!-- /zc:group -->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
