<!-- zc:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- zc:group {"tagName":"main","align":"full"} -->
<main class="zc-block-group alignfull">
	<!-- zc:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50"},"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
	<div class="zc-block-group"
		style="margin-bottom:var(--zc--preset--spacing--40);padding-top:var(--zc--preset--spacing--50)">
		<!-- zc:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->

		<!-- zc:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
		<div class="zc-block-group" style="padding-top:0;padding-bottom:0">
			<!-- zc:post-title {"level":1,"fontSize":"x-large"} /-->

			<!-- zc:template-part {"slug":"post-meta"} /-->
		</div>
		<!-- /zc:group -->
	</div>
	<!-- /zc:group -->

	<!-- zc:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

	<!-- zc:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
	<div class="zc-block-group"
		style="margin-top:var(--zc--preset--spacing--40);padding-bottom:var(--zc--preset--spacing--50)">
		<!-- zc:post-terms {"term":"post_tag","separator":"  ","className":"is-style-pill"} /-->

		<!-- zc:group {"layout":{"type":"constrained"}} -->
		<div class="zc-block-group">
			<!-- zc:spacer {"height":"var:preset|spacing|40"} -->
			<div style="height:var(--zc--preset--spacing--40)" aria-hidden="true" class="zc-block-spacer">
			</div>
			<!-- /zc:spacer -->

			<!-- zc:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"backgroundColor":"contrast-3","className":"is-style-wide"} -->
			<hr class="zc-block-separator has-text-color has-contrast-3-color has-alpha-channel-opacity has-contrast-3-background-color has-background is-style-wide" style="margin-bottom:var(--zc--preset--spacing--40)"/>
			<!-- /zc:separator -->

			<!-- zc:pattern {"slug":"twentytwentyfour/hidden-comments"} /-->

			<!-- zc:pattern {"slug":"twentytwentyfour/hidden-post-navigation"} /-->

		</div>
		<!-- /zc:group -->
	</div>
	<!-- /zc:group -->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
