<!-- zc:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- zc:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0vh","bottom":"0vh"},"padding":{"top":"10vh","bottom":"8vh"}}},"layout":{"type":"constrained"}} -->
<main class="zc-block-group" style="margin-top:0vh;margin-bottom:0vh;padding-top:10vh;padding-bottom:8vh">
    <!-- zc:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"1rem","left":"1rem"},"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <div class="zc-block-columns alignwide" style="padding-right:var(--zc--preset--spacing--40);padding-left:var(--zc--preset--spacing--40)">
        <!-- zc:column {"width":"70%"} -->
        <div class="zc-block-column" style="flex-basis:70%">
            <!-- zc:group {"layout":{"type":"constrained"}} -->
            <div class="zc-block-group">
                <!-- zc:post-featured-image {"style":{"spacing":{"padding":{"bottom":"2vh"}}}} /-->

                <!-- zc:post-title {"level":1,"fontSize":"x-large"} /-->

                <!-- zc:template-part {"slug":"post-meta"} /-->

                <!-- zc:spacer {"height":"var:preset|spacing|10"} -->
                <div style="height:var(--zc--preset--spacing--10)" aria-hidden="true" class="zc-block-spacer"></div>
                <!-- /zc:spacer -->

            </div>
            <!-- /zc:group -->

            <!-- zc:group {"layout":{"type":"constrained"}} -->
            <div class="zc-block-group">
                <!-- zc:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->

                <!-- zc:post-terms {"term":"post_tag","separator":"  "} /-->
            </div>
            <!-- /zc:group -->

            <!-- zc:group {"layout":{"type":"constrained"}} -->
            <div class="zc-block-group">
                <!-- zc:spacer {"height":"4rem"} -->
                <div style="height:4rem" aria-hidden="true" class="zc-block-spacer"></div>
                <!-- /zc:spacer -->

                <!-- zc:pattern {"slug":"twentytwentyfour/hidden-comments"} /-->

                <!-- zc:spacer {"height":"4rem"} -->
                <div style="height:4rem" aria-hidden="true" class="zc-block-spacer"></div>
                <!-- /zc:spacer -->

                <!-- zc:pattern {"slug":"twentytwentyfour/hidden-post-navigation"} /-->

            </div>
            <!-- /zc:group -->
        </div>
        <!-- /zc:column -->

        <!-- zc:column {"width":"30%"} -->
        <div class="zc-block-column" style="flex-basis:30%">
            <!-- zc:template-part {"slug":"sidebar","tagName":"aside"} /-->
        </div>
        <!-- /zc:column -->
    </div>
    <!-- /zc:columns -->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
