<!-- zc:template-part {"slug":"header"} /-->

<!-- zc:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="zc-block-group" style="margin-top:var(--zc--preset--spacing--60)">
	<!-- zc:query-title {"type":"search"} /-->
	<!-- zc:pattern {"slug":"twentytwentyfive/hidden-search"} /-->
	<!-- zc:pattern {"slug":"twentytwentyfive/template-query-loop"} /-->
	<!-- zc:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer"} /-->
