<!-- zc:template-part {"slug":"header"} /-->

<!-- zc:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="zc-block-group" style="margin-top:var(--zc--preset--spacing--60)">
	<!-- zc:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="zc-block-group alignfull" style="padding-top:var(--zc--preset--spacing--60);padding-bottom:var(--zc--preset--spacing--60)">
		<!-- zc:post-title {"level":1} /-->
		<!-- zc:post-featured-image {"aspectRatio":"3/2"} /-->
		<!-- zc:pattern {"slug":"twentytwentyfive/hidden-written-by"} /-->
		<!-- zc:post-content {"align":"full","layout":{"type":"constrained"}} /-->
		<!-- zc:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
		<div class="zc-block-group" style="padding-top:var(--zc--preset--spacing--60);padding-bottom:var(--zc--preset--spacing--60)">
			<!-- zc:post-terms {"term":"post_tag","separator":"  ","className":"is-style-post-terms-1"} /-->
		</div>
		<!-- /zc:group -->
		
		<!-- zc:pattern {"slug":"twentytwentyfive/post-navigation"} /-->
		<!-- zc:pattern {"slug":"twentytwentyfive/comments"} /-->
	</div>
	<!-- /zc:group -->
	<!-- zc:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer"} /-->
