/**
 * Colors
 */
:where(.zc-block-post-comments-form textarea),
:where(.zc-block-post-comments-form input:not([type=submit])) {
  border-width: 1px;
  border-style: solid;
  border-color: #949494;
  font-size: 1em;
  font-family: inherit;
}

:where(.zc-block-post-comments-form textarea),
:where(.zc-block-post-comments-form input:where(:not([type=submit]):not([type=checkbox]))) {
  padding: calc(0.667em + 2px);
}

.zc-block-post-comments-form {
  box-sizing: border-box;
}
.zc-block-post-comments-form[style*=font-weight] :where(.comment-reply-title) {
  font-weight: inherit;
}
.zc-block-post-comments-form[style*=font-family] :where(.comment-reply-title) {
  font-family: inherit;
}
.zc-block-post-comments-form[class*=-font-size] :where(.comment-reply-title), .zc-block-post-comments-form[style*=font-size] :where(.comment-reply-title) {
  font-size: inherit;
}
.zc-block-post-comments-form[style*=line-height] :where(.comment-reply-title) {
  line-height: inherit;
}
.zc-block-post-comments-form[style*=font-style] :where(.comment-reply-title) {
  font-style: inherit;
}
.zc-block-post-comments-form[style*=letter-spacing] :where(.comment-reply-title) {
  letter-spacing: inherit;
}
.zc-block-post-comments-form :where(input[type=submit]) {
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
}
.zc-block-post-comments-form .comment-form textarea,
.zc-block-post-comments-form .comment-form input:not([type=submit]):not([type=checkbox]):not([type=hidden]) {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.zc-block-post-comments-form .comment-form-author label,
.zc-block-post-comments-form .comment-form-email label,
.zc-block-post-comments-form .comment-form-url label {
  display: block;
  margin-bottom: 0.25em;
}
.zc-block-post-comments-form .comment-form-cookies-consent {
  display: flex;
  gap: 0.25em;
}
.zc-block-post-comments-form .comment-form-cookies-consent #zc-comment-cookies-consent {
  margin-top: 0.35em;
}
.zc-block-post-comments-form .comment-reply-title {
  margin-bottom: 0;
}
.zc-block-post-comments-form .comment-reply-title :where(small) {
  font-size: var(--zc--preset--font-size--medium, smaller);
  margin-right: 0.5em;
}