.zc-block-query-pagination.is-content-justification-space-between > .zc-block-query-pagination-next:last-of-type {
  margin-inline-start: auto;
}
.zc-block-query-pagination.is-content-justification-space-between > .zc-block-query-pagination-previous:first-child {
  margin-inline-end: auto;
}
.zc-block-query-pagination .zc-block-query-pagination-previous-arrow {
  margin-right: 1ch;
  display: inline-block;
}
.zc-block-query-pagination .zc-block-query-pagination-previous-arrow:not(.is-arrow-chevron) {
  transform: scaleX(1) /*rtl:scaleX(-1);*/;
}
.zc-block-query-pagination .zc-block-query-pagination-next-arrow {
  margin-left: 1ch;
  display: inline-block;
}
.zc-block-query-pagination .zc-block-query-pagination-next-arrow:not(.is-arrow-chevron) {
  transform: scaleX(1) /*rtl:scaleX(-1);*/;
}
.zc-block-query-pagination.aligncenter {
  justify-content: center;
}