<!-- zc:template-part {"slug":"header","tagName":"header"} /-->

<!-- zc:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="zc-block-group">
	<!-- zc:query {"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"default"}} -->
	<div class="zc-block-query alignwide">
		<!-- zc:post-template -->
			<!-- zc:columns {"style":{"border":{"bottom":{"width":"1px"}},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"margin":{"top":"-1.5rem","bottom":"0px"}}}} -->
			<div class="zc-block-columns" style="border-bottom-width:1px;margin-top:-1.5rem;margin-bottom:0px;padding-top:var(--zc--preset--spacing--40);padding-bottom:var(--zc--preset--spacing--40)">
				<!-- zc:column {"verticalAlignment":"center","width":"20%"} -->
				<div class="zc-block-column is-vertically-aligned-center" style="flex-basis:20%">
					<!-- zc:post-date {"textAlign":"left"} /-->
				</div>
				<!-- /zc:column -->

				<!-- zc:column {"verticalAlignment":"center","width":"80%"} -->
				<div class="zc-block-column is-vertically-aligned-center" style="flex-basis:80%">
					<!-- zc:post-title {"isLink":true} /-->
				</div>
				<!-- /zc:column -->
			</div>
			<!-- /zc:columns -->
		<!-- /zc:post-template -->
	</div>
	<!-- /zc:query -->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer","tagName":"footer"} /-->
