<!-- zc:template-part {"slug":"header","tagName":"header"} /-->

<!-- zc:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main class="zc-block-group" style="margin-top:var(--zc--preset--spacing--50)">
	<!-- zc:group {"layout":{"type":"constrained"}} -->
	<div class="zc-block-group">
		<!-- zc:post-featured-image {"overlayColor":"contrast","dimRatio":50,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(--zc--preset--spacing--50))"}}}} /-->
		<!-- zc:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
	</div>
	<!-- /zc:group -->

	<!-- zc:post-content {"layout":{"type":"constrained"}} /-->
	<!-- zc:template-part {"slug":"comments","tagName":"section"} /-->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer","tagName":"footer"} /-->
