<!-- zc:template-part {"slug":"header","tagName":"header"} /-->

<!-- zc:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="zc-block-group" style="margin-top:var(--zc--preset--spacing--70);margin-bottom:var(--zc--preset--spacing--70)">
	<!-- zc:query-title {"type":"search","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

	<!-- zc:query {"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"default"}} -->
	<div class="zc-block-query alignwide">
		<!-- zc:post-template {"align":"wide"} -->
			<!-- zc:post-featured-image {"isLink":true,"width":"100%","height":"clamp(15vw, 30vh, 400px)","align":"wide"} /-->
			<!-- zc:post-title {"isLink":true} /-->
			<!-- zc:post-excerpt /-->
			<!-- zc:post-date {"isLink":true} /-->

			<!-- zc:spacer {"height":"var(--zc--preset--spacing--70)"} -->
			<div style="height:var(--zc--preset--spacing--70)" aria-hidden="true" class="zc-block-spacer"></div>
			<!-- /zc:spacer -->
		<!-- /zc:post-template -->

		<!-- zc:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- zc:query-pagination-previous /-->
			<!-- zc:query-pagination-next /-->
		<!-- /zc:query-pagination -->

		<!-- zc:query-no-results -->
			<!-- zc:pattern {"slug":"twentytwentythree/hidden-no-results-content"} /-->
		<!-- /zc:query-no-results -->
	</div>
	<!-- /zc:query -->
</main>
<!-- /zc:group -->

<!-- zc:template-part {"slug":"footer","tagName":"footer"} /-->
