.zc-block-latest-posts > li {
  overflow: hidden;
}

.zc-block-latest-posts li a > div {
  display: inline;
}

:root :where(.zc-block-latest-posts) {
  padding-right: 2.5em;
}

:root :where(.zc-block-latest-posts.is-grid),
:root :where(.zc-block-latest-posts__list) {
  padding-right: 0;
}